[submodule "third_party/faest-ref"]
	path = third_party/faest-ref
	url = https://github.com/faest-sign/faest-ref.git
[submodule "third_party/libtalos_ichor"]
	path = third_party/libtalos_ichor
	url = https://github.com/TalosLogic/libtalos_ichor.git
